<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>Schloss Lichtenstein</string>
			<key>body</key>
			<string>Schloss Lichtenstein, auch als „Märchenschloss Württembergs“ bezeichnet, ist ein im Stil des Historismus erbautes Schloss des 19. Jahrhunderts über dem Ort Honau, Gemeinde Lichtenstein, im Landkreis Reutlingen in Baden-Württemberg.</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>ITCC</string>
			<key>body</key>
			<string>The 1996 International Touring Car Championship season was the second season of its type. It was for FIA Class 1 Touring Cars and it was contested by Mercedes-Benz, Alfa Romeo and Opel. It was formed of the Deutsche Tourenwagen Meisterschaft series that ran both a short German &amp; International-based series in 1995. These were fused together to form the International Touring Car Championship (abbreviated to ITC). The eventual champion was Manuel Reuter driving an Opel Calibra, and Opel won the manufacturer&apos;s championship.</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>Hello World</string>
			<key>body</key>
			<string>A &quot;Hello world&quot; program is a computer program that outputs &quot;Hello, World!&quot; (or some variant thereof) on a display device. Because it is typically one of the simplest programs possible in most programming languages, it is by tradition often used to illustrate to beginners the most basic syntax of a programming language. It is also used to verify that a language or system is operating correctly.</string>
			<key>image</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>choices</key>
			<array>
				<string>22&apos;000</string>
				<string>27&apos;000</string>
				<string>32&apos;000</string>
				<string>37&apos;000</string>
			</array>
			<key>image</key>
			<string>First Image</string>
			<key>question</key>
			<string>Wie viele Einwohner hat Liechtenstein?</string>
			<key>solutionIndex</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>choices</key>
			<array>
				<string>Ja</string>
				<string>Nein</string>
			</array>
			<key>image</key>
			<string>First Image</string>
			<key>question</key>
			<string>Gehört Liechtenstein zur EU?</string>
			<key>solutionIndex</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>choices</key>
			<array>
				<string>22&apos;000</string>
				<string>27&apos;000</string>
				<string>32&apos;000</string>
				<string>37&apos;000</string>
			</array>
			<key>image</key>
			<string>First Image</string>
			<key>question</key>
			<string>Wie viele Einwohner hat Liechtenstein?</string>
			<key>solutionIndex</key>
			<integer>3</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>tasknummer</key>
			<string>0</string>
			<key>laengengrad</key>
			<string>47.140405</string>
			<key>breitengrad</key>
			<string>9.51963</string>
			<key>name</key>
			<string>Rathaus Vaduz</string>
		</dict>
		<dict>
			<key>tasknummer</key>
			<string>1</string>
			<key>laengengrad</key>
			<string>47.139439</string>
			<key>breitengrad</key>
			<string>9.521888</string>
			<key>name</key>
			<string>Kunstmuseum Liechtenstein</string>
		</dict>
		<dict>
			<key>tasknummer</key>
			<string>2</string>
			<key>laengengrad</key>
			<string>47.139702</string>
			<key>breitengrad</key>
			<string>9.522768</string>
			<key>name</key>
			<string>Kathedrale St. Florin</string>
		</dict>
	</array>
</array>
</plist>
